node_modules
.env
*.log
backend/uploads/*
backend/uploads/**
!.gitkeep
!backend/uploads/studycrate-sample.pdf
!backend/uploads/studycrate-sample-notebook.ipynb
!backend/uploads/Beginner_Python.zip
!backend/uploads/Intermediate_Python.zip
!backend/uploads/Beginner_C.zip
!backend/uploads/Intermediate_C.zip
!backend/uploads/Beginner_EDA.zip
!backend/uploads/Intermediate_EDA.zip
.next
.DS_Store
